#chat{
  height : 200px;
  overflow: hidden;
}
#video{
  width:400px; 
  background:black;
}
#player:-webkit-full-screen #video{
  width: 100%;
  height: 100%;
}
#player:-webkit-full-screen{
  width: 100%;
  height: 100%;
}
#player:-moz-full-screen #video{
  width: 100%;
  height: 100%;
}
/* Элементы управления */
#player:-moz-full-screen #videoControls{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#player:-moz-full-screen #videoControls:hover div{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#player:-moz-full-screen #videoControls div{
  /*transition: bottom 1s ease-out 0s;*/
  position: relative;
  bottom: -30px;
}
#player:-moz-full-screen #playerSeekRange{
  width: 80%;
}
/* Стилизация слайдеров */
input[type=range]::-moz-range-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
input[type=range]::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* Ввод сообщений */
#player:-moz-full-screen #send{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
#player:-moz-full-screen #send:hover #sendMessageButton{
   top: 0;
}
#player:-moz-full-screen #send #sendMessageButton{
   position:relative;
   top: -30px;
}
#player:-moz-full-screen #send:hover #messageInput{
  border: 2px outset white;
}
#player:-moz-full-screen #send #messageInput{
  width: 80%;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: #000 1px 1px 1px,#000 -1px -1px 1px,#000 -1px 1px 1px,#000 1px -1px 1px;
}
/* Элементы чата */
#player:-moz-full-screen #chat{
  position: absolute;
  top: 50px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: #000 1px 1px 1px,#000 -1px -1px 1px,#000 -1px 1px 1px,#000 1px -1px 1px;
}

/*input.playerSliders
{
	-webkit-appearance: none;
	display: block;
	width: 100%;
}

input.playerSliders::-webkit-slider-runnable-track
{
	width: 100%;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input.playerSliders::-webkit-slider-thumb
{
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: goldenrod;
	margin-top: -5.5px;
}

input.playerSliders:focus
{
	outline: none;
}

input.playerSliders:focus::-webkit-slider-runnable-track
{
	background: #ccc;
}*/