#chat{
  height : 200px;
  overflow: hidden;
}
#send{
  position:relative;
  top: 10px;
}
#video{
  width:400px; 
  background:black;
}
#playerExternal{
  display: flex;
  justify-content: center;
  align-items: center;
}
#player:-webkit-full-screen #video{
  width: 100%;
  height: 100%;
}

#player #video{
  width: 100%;
  height: 100%;
}
#player{
  width: 90%;
  height: 90%;
}

#player:-webkit-full-screen{
  width: 100%;
  height: 100%;
}
#player:-moz-full-screen #video{
  width: 100%;
  height: 100%;
}
/* Элементы управления */
#videoControls{
  text-align: center;
}
#player:-moz-full-screen #videoControls{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#player:-moz-full-screen #videoControls:hover div{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#player:-moz-full-screen #videoControls div{
  transition: bottom 0.5s ease-out 0s;
  position: relative;
  bottom: -30px;
}
#player #playerSeekRange{
  width: calc( 100% - 350px );
  margin: 0 5px;
}
/* Стилизация слайдеров */
#playerSeekRange::-moz-range-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
#playerSeekRange::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* Кнопка громкости */
.vrange{
  position: absolute;
  padding: 0;
  margin: 0;
  transform: rotate(270deg);
  transform-origin: 0 0;
}
#volume::-moz-range-track {
  height: 4px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
#volume::-moz-range-thumb {
  background-color: #fff;
  border: 1px solid #000;
  width: 4px;
  height: 15px;
  border-radius: 0px;
  cursor: pointer;
}
#volume {
  -webkit-appearance: none;
  height: 4px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
#volume::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #000;
  width: 6px;
  height: 17px;
  border-radius: 0px;
  cursor: pointer;
}
#volume{
  width: 100px;
  top: 115px;
  left: 10px;
  display: inherit;
}
#volume_area
{
  /*transition: disply 1s linear 1.5s;*/
  position: absolute;
  display: none;
  height: 130px;
  width: 30px;
  top: -130px;
  left: 0;
}
#vol:hover #volume_area{
  display:block!important;
}
/* Ввод сообщений */
#player:-moz-full-screen #send{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
#player #send{
  text-align: center;
}
#player:-moz-full-screen #send:hover #sendMessageButton{
   top: 0;
}
#player:-moz-full-screen #send #sendMessageButton{
   position:relative;
   top: -30px;
}
#player:-moz-full-screen #send:hover #messageInput{
  border: 2px outset white;
}
#player:-moz-full-screen #send #messageInput{
  width: 80%;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: #000 1px 1px 1px,#000 -1px -1px 1px,#000 -1px 1px 1px,#000 1px -1px 1px;
}
/* Элементы аудио-чата */
#peerList{
	position: absolute;
	bottom: 30px;
	left: 0;
	min-height: 100px;
	min-width:  50px;
	background-color: #fff;
	display: none;
}
/* Элементы чата */
#player:-moz-full-screen #send:hover #chat{
  overflow-y: scroll;
  border: 2px outset white; 
}
#player:-moz-full-screen #chat{
  overflow-y: hidden;
  position: absolute;
  top: 28px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: #000 1px 1px 1px,#000 -1px -1px 1px,#000 -1px 1px 1px,#000 1px -1px 1px;
}
#player:not(:-moz-full-screen) #chat div{
  opacity: 1!important;
}
#player:-moz-full-screen #send:hover #chat div{
  opacity: 1!important;
}
#chat{
  overflow-y: scroll;
  text-align: center;
}

/*input.playerSliders
{
	-webkit-appearance: none;
	display: block;
	width: 100%;
}

input.playerSliders::-webkit-slider-runnable-track
{
	width: 100%;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input.playerSliders::-webkit-slider-thumb
{
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: goldenrod;
	margin-top: -5.5px;
}

input.playerSliders:focus
{
	outline: none;
}

input.playerSliders:focus::-webkit-slider-runnable-track
{
	background: #ccc;
}*/
#player:-webkit-full-screen #videoControls{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#player:-webkit-full-screen #videoControls:hover div{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#player:-webkit-full-screen #videoControls div{
  /*transition: bottom 1s ease-out 0s;*/
  position: relative;
  bottom: -30px;
}
/* Стилизация слайдеров */
#playerSeekRange {
    -webkit-appearance: none;
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
} 
#playerSeekRange::-webkit-slider-thumb {
-webkit-appearance: none;
background-color: #ecf0f1;
border: 1px solid #bdc3c7;
width: 20px;
height: 20px;
border-radius: 10px;
cursor: pointer;
}

/* Ввод сообщений */
#player:-webkit-full-screen #send{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
#player:-webkit-full-screen #send:hover #sendMessageButton{
   top: 0;
}
#player:-webkit-full-screen #send #sendMessageButton{
   position:relative;
   top: -30px;
}
#player:-webkit-full-screen #send:hover #messageInput{
  border: 2px outset white;
}
#player:-webkit-full-screen #send #messageInput{
  width: 80%;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: #000 1px 1px 1px,#000 -1px -1px 1px,#000 -1px 1px 1px,#000 1px -1px 1px;
}
/* Элементы чата */
#player:-webkit-full-screen #chat{
  overflow-y: hidden;
  position: absolute;
  top: 28px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: #000 1px 1px 1px,#000 -1px -1px 1px,#000 -1px 1px 1px,#000 1px -1px 1px;
}
#player:-webkit-full-screen #send:hover #chat{
  overflow-y: scroll;
  border: 2px outset white; 
}

#player:not(:-webkit-full-screen) #chat div{
  opacity: 1!important;
}
#player:-webkit-full-screen #send:hover #chat div{
  opacity: 1!important;
}

