<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>WTSPlayer</title>
    <link rel="stylesheet" type="text/css" href="/player.css">
    <link rel="stylesheet" type="text/css" href="/overlay.css">
</head>
<body bgcolor="black">
<div id="overlay" class="closeContent">
    <div id="overlayContent">

        <h1 id="logo">
            <a href="#">
                <img src="wtsplayerlogo.svg">
                <span>W</span>
                <span>T</span>
                <span>S</span>
                <span>P</span>
                <span>l</span>
                <span>a</span>
                <span>y</span>
                <span>e</span>
                <span>r</span>
            </a>
        </h1>
        <h1 id="title">Подключение к серверу</h1>
        <div>
            <h3>Источник видео:</h3>

            <div class="korpus1">
                <span data-type="inputLink" data-num="1">Ссылка</span><span data-type="localURL" data-num="2">Локальный файл</span><span
                    data-type="peers" data-num="3">Источники пиров</span>
                <div>
                    <input type="text" id="inputLink" style="width:95%">
                    Введите ссылку на видео. На данный момент поддерживаются: magnet-ссылки WebTorrent, ссылки на
                    youtube и прямые ссылки.
                </div>
                <div><input type="file" id="localURL"></div>
                <div>
                    <select id="peersSrc" size="4" style="width:95%"></select>
                    <input type="checkbox" id="follow"><label for="follow">Динамическое изменение видео вслед за
                    пиром</label>
                </div>
            </div>
        </div>
        <div id="typeRoom">
            <h3>Идентификатор комнаты:</h3>
            <input id="roomId"><input type="button" id="generateId" value="Сменить ID">
            <span id="wrongId" class="close">Неверный идентификатор!</span>
            <h3>Выберите тип комнаты:</h3>
            <input type="radio" id="but_5" name="b" checked>
            <label id="adress_5" for="but_5">Открытая комната</label>
            <input type="radio" id="but_6" name="b">
            <label for="but_6">Частная комната</label>
            <input id="passwordInput" type="password" placeholder=" Введите пароль">
            <span id="wrongPassword" class="close">Неверный пароль!</span>
        </div>
        <div>
            <input type="checkbox" id="audioChatStatus">
            <label for="audioChatStatus">Использование аудио-чата</label>
            <br><br>
            <label for="nick">Введите ник для чата:</label>
            <input id="nick" maxlength="20">
            <br>
        </div>
        <input id="joinButton" type="button" value="Join room">
    </div>
</div>
<div id="player">
    <div id="video"></div>
    <br>
    <div id="peerListParent">
        <div id="peerList">
            <span id="noteEmptyRoom">&#160;Комната пуста!&#160;</span>
            <table id="peerTable">
            </table>
        </div>
    </div>
    <div id="videoControls">
        <table>
            <td><input id="playerPlayPauseButton" type="image" src="wait.svg" disabled="disabled"></td>
            <td width="100%"><input id="playerSeekRange" class="playerSliders video-sensitive" type="range" value="0"
                                    step="0.01"></td>
            <td><span id="playerCurrentTimeOutput">00:00</span></td>
            <td><input id="addOffsetButton" class="video-sensitive" type="image" src="prev.svg"><span class="under">-0.1c</span>
            </td>
            <td><span id="delOffsetButtonParent"><span id="delOffsetButton" class="video-sensitive">0</span></span></td>
            <td><input id="subOffsetButton" class="video-sensitive" type="image" src="next.svg"><span class="under">+0.1с</span>
            </td>
            <td>
                <div id="vol">
                    <div id="volume_area">
                        <input id="volume" class="vrange volume" type="range" value="1" min="0" max="1" step="0.01">
                    </div>
                    <input type="image" id="volume_button" src="/volume.svg" height="25px">
                </div>
            </td>
            <td>
                <select id="quality">
                    <option>Качество</option>
                </select>
            </td>
            <td><input id="peerListButton" type="image" src="people.svg"></td>
            <td><input id="fullscreen" type="image" src="full.svg"></td>
            <td><input id="backOverlayBut" type="image" src="back.svg"></td>
        </table>
    </div>
    <div id="chatParent">
        <div id="scrollbar">
            <div id="thumb"></div>
        </div>
        <div id="chat"></div>
    </div>
    <div id="send">
        <input id="messageInput" type="text"/>
        <div id="leftBorder"></div>
        <input id="sendMessageButton" type="image" src="send.svg">
    </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script>
<script src="/peer.min.js"></script>
<script src="/timesync/timesync.min.js"></script>
<script src="/elementsController.js"></script>
<script src="/peerController.js"></script>
<script src="/stateController.js"></script>
<script src="/roomScripts.js"></script>
</body>
</html>