<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<title>NA</title>
	</head>
	<body>
	<input id="createRoomButton" type="button" value="Create room" />
	<input id="passwordInput" type="password">
	
	<script src="/jquery.min.js"></script>
	<!--<script src="/peer.js"></script>-->
	<script src="/sessionController.js"></script>
	<script src="/startElementsController.js"></script>
	<script src="/startScripts.js"></script>
	</body>
</html>